<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Contract Deployment</title>
</head>
<body>
    <h1>Smart Contract Deployment</h1>
    <form method="POST" action="/root">
        <!-- <label for="domain">Domain:</label>
            <input type="text" id="domain" name="domain" required>
        <br>
        <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
        <br>
        <label for="expiry_date">Expiry Date:</label>
            <input type="date" id="expiry_date" name="expiry_date" required>
        <br> -->
        <label for="number1">Number:</label>
            <input type="number1" id="number1" name="number1" required>
        <label for="number2">Number:</label>
            <input type="number2" id="number2" name="number2" required>
        <button type="submit">Deploy Contract</button>
    </form>
</body>
</html>
